# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Coverage / testing
coverage/
.nyc_output/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cache
.cache/
.next/
out/
*.tsbuildinfo

# Optional: if using Docker
docke
